.root {
  align-items: center;
  display: flex;
  margin: 10px auto;
}

.input {
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  margin-right: 10px;
  width: 350px;
  height: 40px;
  font-size: 20px;
  text-align: center;
}

.button {
  border: none;
  background-color: #1ED760;
  border-radius: 15px;
  color: #fff;
  height: 30px;
  width: 100px;
}
